/* Amal Kariyawasam, 2024 */
* {
  background-color: #eeeeee;
  color: #000000;
}

#practiceForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: space-between;
  row-gap: 10px;
  /* background-color: #40e716; */
}
