*{
    background-color: #1a1a1b; 

}

.about_odin
{
background-color: #05bb14;
font-family: 'Courier New', Courier, monospace;
color:azure;
}

#foundations_path
{
background-color: #1a1a1b;    
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color:blanchedalmond;
}