*{
    background-color: #ffffff; 

}

.about_odin
{

font-family: 'Courier New', Courier, monospace;
color:rgb(5, 5, 5);
}

#foundations_path
{
   
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}