:root
{
    --heading:#019824;
    --correct:#07db38;
    --error:#c50505;
    --default-font-color:#000000;
    --background-color:#0d0d0d;
}

*
{
 background-color: #f8f8f8;
 margin:0px;
}

@font-face
{
    font-family:"norse";
    src:
    url('fonts/norse-bold-webfont.woff2') format("woff2"),
    url('fonts/norse-bold-webfont.woff') format("woff");
    font-weight:normal;
    font-style:normal;
}

h1
{
    color: var(--heading);
    font:
    2rem "norse",
    monospace;
    align-self:end;

}

p
{
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.container
{
    display: flex;
    column-gap:30px;
    flex-wrap: wrap;
    height: 100vh;
}

.leftPane
{

    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content: space-around;
    background: url(./images/halie-west-25xggax4bSA-unsplash.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 600px;

}


.logoDiv
{
    background-color: var(--background-color);
    opacity: 0.7;

}

.logoDiv p
{
    background-color: var(--background-color);
    width:300px;
}

.logoImage
{
    width:100px;
    height:100px;
    background-color: var(--background-color);
    margin:10px;

}

#logoText
{
    color: #ffffff;
    font:
    4rem "norse",
    monospace;
}

#photoCredit
{

    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1rem;
    
}

#photoCredit p
{
    margin-right: 60px;
    opacity: 0.4;
    color: var(--background-color);
    opacity: 0.9;
}


.rightPane
{
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    justify-content:space-evenly;


}

.signUpForm
{
    display:flex;
    flex-wrap:wrap;
    flex-direction: column;
    justify-content: space-between 10px;
    row-gap: 30px;
    column-gap: 30px;

    font-family: "Protest Riot", sans-serif;
    font-weight: 100;
    font-style: normal;

    

}

.formRow
{
    display:flex;
    flex-wrap:wrap;
    column-gap: 30px;
}

.formRow label
{

    display:block;

}

#createButton
{
    color:#f8f8f8;
    background-color:var(--heading);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    padding:5px 20px 5px 20px;
    border-radius: 5px;
}

input:focus
{
    background-color: #ecf240;
}


input:valid
{
    border-color:var(--heading);

}

input:invalid
{
    border-color:var(--error);
}

