<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>About</title>
  </head>
  <body>
    <div><%- include ('navbar',{links:links})%></div>
    <div>
      <h1>About NodeJs <%=version%> Views</h1>
      <ul>
        <li>
          Views are the user-facing part of the application, in this case, HTML
          files.
        </li>
        <li>
          We use template engines to create our views. As the name suggests, we
          write template files in our codebase that get transformed into HTML
          when we respond to a server request. Any variables defined in our
          template files are replaced with actual data.
        </li>
        <li>
          Additionally, we can insert conditional and/or loop logic into our
          template file, e.g. render the user’s username once they have logged
          in. This would not be possible with plain HTML.
        </li>
      </ul>
    </div>
    <div><%- include("footer")%></div>
  </body>
</html>
