h1
{
color: #13af23;
}

.LibraryStatusDiv
{
    background-color: #b3c2b5;
}

.addNewBookDiv
{
    background-color: #6a30df;
}

.bookDetails
{
    background-color: #5586da;
    border: solid #eb1515 2px;
}