<html>
  <head>
    <title>Homepage</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <%- include('navbar',{links:links})%>
    <!-- index.ejs -->
    <ul>
      <% users.forEach((user) => { %> <%- include('users/user', {user: user});
      %> <% }); %>
    </ul>
    <div><%- include("footer")%></div>
  </body>
</html>
