<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New User Form</title>
  </head>
  <body>
    <div>
      <h1>New User add</h1>
      <form action="/new" method="POST">
        <label for="username">User Name: </label> <br />

        <input type="text" name="username" id="username" required /><br />

        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
