<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User Form</title>
</head>
<body>
    <div>New User add</div>
    <form action="/new" method="POST">
        <label for="userName">User Name: </label>

        <input type="text" name="userName" id="firstName" required/>

    </form>
</body>
</html>