body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin:16px auto;
  border:8px;
  padding:8px;
 

}

.title {
  background: #e3f4ff;
  margin-top:0px;
  margin-bottom:8px;
  font-size: 16px;
  padding:8px;
}

.content {
  background: #e3f4ff;
  margin-bottom:8px;
  padding:8px;
}

.button-container {
  background: #e3f4ff;
  display:block;
  text-align: center;
  margin-bottom:0px;
  padding:8px;


}

button {
  background: white;
  border: 1px solid #eee;
  display:block;
  font-size:22px;
  margin:auto;
}