
*
{
    margin-top:0;
    margin-left: 0;
    font-family: "roboto-thin";
    
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1rem;
  }

a
{
    color:#f1f5f9;
    text-decoration: none;
}

h1
{
    color: rgb(16, 0, 0);
    display:flex;
    align-items:start;

    /* font-size: 1rem; */

}


ul
{
    list-style: none;

}



.container
{
    display:grid;
    grid-template-rows: repeat(1,1fr) repeat(1,3fr);
    grid-template-columns:repeat(1,1fr) repeat(1,3fr);
    gap:15px;

}

/* CSS Code for Column2 Goes here */
.column1
{
    display:grid;
    grid-template-rows:repeat(1, 1fr);
    grid-template-columns:repeat(1,1fr);
    background-color:#0284c7;
    
        /* margin-top:0; */
}

/* .column1 li, h1
{
    display:grid;
    color:#f1f5f9;
    font-weight: 600;
    font-size: 2rem;
      
} */

.column1 img
{
    height: 50px;
    width:50px;
    background-color: #f1f5f9;
    
    /* float:inline-start; */
}

.dashboard li, h1
{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex:1;
    font-weight: 600;
    font-size: 2rem;
    /* justify-content:space-between; */
    align-items: center;
}




/* CSS Code for Column2 Goes here */
.column2
{
    display:grid;
    grid-template-rows:repeat(1,1fr) repeat(1,5fr);
    background-color: #e2e8f0;
    gap:30px;
}

.column2 li,h1
{
    display:grid;
    color:#0f172a;
}

.topBar
{
    display:grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns:repeat(1,1fr);
    background-color:#f8fafc ;
}

.topBar img
{
    height:20px;
    width:20px;
}


.topBar ul
{
    display:grid;
    grid-template-columns:repeat(3,1fr);


}

.topBarRow1
{
    /* display:grid; */
    /* grid-template-columns:repeat(2,1fr); */
    display: flex;
    justify-content: space-between;
}

.topBarRow2
{
    display:grid;
    grid-template-columns:repeat(4,1fr);

}

.topBarRow2 ul
{
    grid-area: 1/4/2/5;
    display:grid;
    gap:40px;
    
}

.topBarRow2 button
{
    /* display:grid; */
    background-color: #0284c7;
    border-radius: 15%;
    color: #e2e8f0;
    font-weight: 500;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width:100px;
    height:50px;
}

input[type="search"]
{
    width:30vw;
    border-radius: 10px;
}

/* CSS Code to style the content box  */

.containerContent
{
display:grid;
grid-template-rows:repeat(1,1fr);
grid-template-columns:repeat(1,2fr) repeat(1,1fr);
gap:5px;

}

.projects
{
    display:grid;
    grid-template-rows:repeat(3,1fr);
    grid-template-columns:repeat(2,1fr);
    grid-area:1/1/2/2;
    gap:10px;

}

.projectItems
{
    display:grid;
    grid-template-rows:repeat(2,1fr);
    grid-template-columns:repeat(1,1fr);
    background-color: #fafafa;
    border-radius: 5%;
    border-left: 5px solid #fb923c;
    
}

.projectItems ul
{
    display:grid;
    grid-template-columns: repeat(3,1fr);
}

.projectItemsrow2 li
{
    display:flex;
    flex-direction: column;
    align-items:flex-end;
    align-content:space-evenly;
}

.projectItemsrow2 img
{
height:20px;
width:20px;

}

.contentColumn2
{
    display:grid;
    grid-template-rows:repeat(2,1fr);
    grid-template-columns:repeat(1,1fr);
    gap:5px;
}

.announcementContainer
{
    grid-area:1/1/2/2 ;
    display:grid;
    grid-template-rows:repeat(3,1fr);
    grid-template-columns:repeat(1,1fr);
    background-color: #fafafa;
}

.trendingContainer
{
    grid-area:2/1/3/2;
    display:grid;
    grid-template-rows:repeat(4,1fr);
    grid-template-columns:repeat(1,1fr);
    gap:5px;
}

.trendingContainer
{
    display: grid;
    grid-template-rows:repeat(4,1fr);
    grid-template-columns:repeat(1,1fr);
    gap:5px;
    background-color: #f8fafc;

}

.trendingContainer img
{
    height:40px;
    width:20px;
}
