*
{
 background-color: #f8f8f8;
 margin:0px;
}

@font-face
{
    font-family:"norse";
    src:
    url('fonts/norse-bold-webfont.woff2') format("woff2"),
    url('fonts/norse-bold-webfont.woff') format("woff");
    font-weight:normal;
    font-style:normal;
}

h1
{
    color: green;
    font:
    2rem "norse",
    monospace;
    align-self:end;

}

p
{
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.container
{
    display: flex;
    /* justify-content: space-between; */
    column-gap:30px;
    

}

.leftPane
{
    width:300px;
    height:500px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    align-content:flex-end;
    background: url(./images/halie-west-25xggax4bSA-unsplash.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.logoDiv p
{
    background-color: #0d0d0d;
    /* opacity: 0.2; */
    width:300px;
}

.logoDiv
{
    background-color: #0d0d0d;
    opacity: 0.6;

}

.logoImage
{
    width:100px;
    height:100px;
    /* opacity: .8; */
    background-color: #0d0d0d;
    margin:10px;

}

#logoText
{
    color: #ffffff;
    font:
    4rem "norse",
    monospace;
    /* align-self:end; */
}

#photoCredit
{
    /* background-color: #0d0d0d;
    opacity: 0.4; */
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    color: #f8f8f8;
    
}

#photoCredit p
{
    margin-right: 60px;
    background-color: #0d0d0d;
    opacity: 0.4;
}


.rightPane
{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;


}

.signUpForm
{
    display:flex;
    flex-direction: column;
    justify-content: space-between 10px;
    /* align-items:stretch; */

    row-gap: 30px;
    column-gap: 30px;

    font-family: "Protest Riot", sans-serif;
    font-weight: 100;
    font-style: normal;

    

}

.formRow
{
    display:flex;
    column-gap: 30px;
}

.formRow label
{
    /* flex:1; */
    display:block;

}

#createButton
{
    color:#f8f8f8;
    background-color:#596D48;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    padding:5px 20px 5px 20px;
    border-radius: 5px;
}
