*
{

}

@font-face
{
    font-family:"norse";
    src:
    url('fonts/norse-bold-webfont.woff2') format("woff2"),
    url('fonts/norse-bold-webfont.woff') format("woff");
    font-weight:normal;
    font-style:normal;
}

h1
{
    color: green;
    font:
    2rem "norse",
    monospace;
    align-self:end;

}