
*
{
    margin-top:0;
    margin-left: 0;
    font-family: "roboto-thin";
    
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1rem;
  }

h1
{
    color: rgb(16, 0, 0);
    /* font-size: 1rem; */

}


ul
{
    list-style: none;
}


.container
{
    display:grid;
    grid-template-rows: repeat(1,1fr) repeat(1,3fr);
    grid-template-columns:repeat(1,1fr) repeat(1,3fr);

}

/* CSS Code for Column2 Goes here */
.column1
{
    display:grid;
    grid-template-rows:repeat(1, 1fr);
    grid-template-columns:repeat(1,1fr);
    background-color:#0284c7;
    
        /* margin-top:0; */
}

.column1 li, h1
{
    display:grid;
    color:#f1f5f9;
    font-weight: 600;
    font-size: 2rem;
      
}

.column1 img
{
    height: 1rem;
    width:1rem;
}


/* CSS Code for Column2 Goes here */
.column2
{
    display:grid;
    grid-template-rows:repeat(1,1fr) repeat(1,5fr);
    background-color: #e2e8f0;
}

.column2 li,h1
{
    display:grid;
    color:#0f172a;
}

.topBar
{
    display:grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns:repeat(1,1fr);
    background-color:#f8fafc ;
}

.topBar ul
{
    display:grid;
    grid-template-columns:repeat(3,1fr);

}

.topBar1
{
    display:grid;
    /* grid-template-rows:repeat(1, 2fr) repeat(1,1fr) */
    grid-template-columns:repeat(2,1fr);
}

/* CSS Code to style the content box  */

.containerContent
{
display:grid;
grid-template-rows:repeat(1,1fr);
grid-template-columns:repeat(1,2fr) repeat(1,1fr);
gap:5px;

}

.projects
{
    display:grid;
    grid-template-rows:repeat(3,1fr);
    grid-template-columns:repeat(2,1fr);
    grid-area:1/1/2/2;
    gap:10px;

}

.projectItems
{
    display:grid;
    grid-template-rows:repeat(2,1fr);
    grid-template-columns:repeat(1,1fr);
    background-color: #fafafa;
    border-radius: 5%;
    border-left: 5px solid #fb923c;
    
}

.projectItems ul
{
    display:grid;
    grid-template-columns: repeat(3,1fr);
}

.announcementContainer
{
    display:grid;
    grid-template-rows:repeat(3,1fr);
    grid-template-columns:repeat(1,1fr);
}

.trendingContainer
{
    display:grid;
    grid-template-rows:repeat(4,1fr);
    grid-template-columns:repeat(1,1fr);
    gap:5px;
}

.trendingContainer
{
    display: grid;
    grid-template-rows:repeat(4,1fr);
    grid-template-columns:repeat(1,1fr);
    gap:5px;

}
